body {
    text-align: center;
}

img, button {
	height: 140px;
}


button:active, [aria-pressed = true] {
	background-color: blue;
}

.scoreHeader {
	width: 505px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.lifes {
	height: 30px;
}

.score {
	align-self: center;
	font-size: larger;
	font-family: "montserrat"
}

.lifeCounter {
	margin-left: auto;
}