body {
    text-align: center;
}

img {
	height: 140px;
}

.scoreHeader {
	width: 505px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.lifes {
	height: 30px;
}

.score {
	align-self: center;
	font-size: larger;
	font-family: "montserrat";
	margin: auto;
}

.lifeCounter {
	margin: auto;
}

.resetButton {
	margin: auto;
	font-size: larger;
	width: 200px;
	border-radius: 20px;
}